In [1]:
import os
os.chdir(r'C:\Users\zkr24\Desktop\uchicago\Q2\health analytics\datasetPracticeFusionDiabetes')

In [2]:
os.getcwd()

'C:\\Users\\zkr24\\Desktop\\uchicago\\Q2\\health analytics\\datasetPracticeFusionDiabetes'

In [3]:
import pandas as pd 
import numpy as np

### Variables Used

In [4]:
cols = ['DMIndicator','YearOfBirth', 'Height', 'Weight','BMI','DiastolicBP', 'SystolicBP','RespiratoryRate','Temperature','Gender_M']

In [63]:
df_test = pd.read_csv("test_SyncPatient.csv")
df_train = pd.read_csv("training_SyncPatient.csv")
df_trans = pd.read_csv("training_SyncTranscript.csv")
df_orig = pd.read_csv("training_SyncPatient_orig.csv")
df_smoke = pd.read_csv("training_SyncPatientSmokingStatus.csv")
trans_impute = pd.read_csv("trans_impute.csv")

In [6]:
df_test.head()

,PatientGuid,Gender,YearOfBirth,State,PracticeGuid
0,027AC271-0852-4DDD-99C2-A74FE50066E0,F,1978,CA,4D27688B-C925-4513-9CF9-8D281ACC6712
1,C5D4C6FA-A2B3-4CCD-A8D5-A760127CE47D,F,1941,PA,44C560D5-82B4-436A-9C72-C090F5377FD0
2,1F4D1486-7632-4576-AC92-A760680D1DC9,M,1938,VA,9891CFAA-9B40-4120-AE20-3A1D86064898
3,0F6AD971-F133-4BD7-B508-A76788D9C46C,M,1952,OH,64F84808-F87B-41CF-8E4B-5E0F456359B4
4,1E23496C-7AAF-4A91-AAF4-A769BD439E67,F,1961,FL,BD209FBC-E92C-4392-A085-1DDA42AF37BA

In [7]:
df_train.head()

,PatientGuid,DMIndicator,Gender,YearOfBirth,State,PracticeGuid
0,FB6EFC3D-1A20-4497-9CBD-00027CC5D220,0,M,1929,SD,7BF4DAD8-5F67-4985-B911-20C9E89A3737
1,C6746626-6783-4650-A58F-00065649139A,0,F,1985,TX,E7101967-2FF1-4B0F-8129-B0B429D1D15C
2,E05C6E8F-779F-4594-A388-000C635AE4D3,0,F,1984,NJ,FC01A799-1CAF-464F-A86F-8A666AB86F32
3,EAEBD216-F847-4355-87B2-000D942E08F0,0,M,1959,OH,EEBC95EF-79BE-4542-892E-98D3166BAB20
4,C7F10A80-4934-42D2-8540-000FBEBA75C8,0,F,1990,FL,677BA32E-B4C4-48F2-86E4-08C42B135401

In [8]:
df_trans.head()

,TranscriptGuid,PatientGuid,VisitYear,Height,Weight,BMI,SystolicBP,DiastolicBP,RespiratoryRate,HeartRate,Temperature,PhysicianSpecialty,UserGuid
0,4E74D809-F0C6-4A4D-8F6F-0000042B3AEA,7F78C9FD-8A95-48DC-B074-FA41F5B41826,2009,63.0,145.8,25.824,NaN,NaN,NaN,NaN,NaN,Family Practice,226D906B-E53A-4EEA-86A8-633D14B98BF2
1,84A5F60E-49F6-4437-BAE1-00004F4D15EE,EE1E2D06-8846-4BF5-9C82-E08BC8798DAE,2011,NaN,0.0,0.000,NaN,NaN,NaN,NaN,NaN,Family Practice,412307EE-D407-4F16-8379-D4A88A7B1122
2,7C45CC93-4799-42A1-B6D6-00008D1B3579,1FF23603-B9D4-42B0-B450-BCD5EA46A025,2010,64.5,133.0,22.474,106.0,66.0,NaN,NaN,98.2,Family Practice,B366A9CC-814C-4B2F-99E5-4DC5C79B9DEC
3,375F3C1C-0058-4872-B96E-00009FE9328A,16C2D99F-1494-4DF9-82E6-0FA0F0EB1B63,2011,68.0,125.4,19.065,119.0,64.0,NaN,NaN,98.2,Family Practice,B8CDE35A-5C03-4995-B771-10F660B84F1A
4,66439EEB-2FFB-4711-87F2-0001690835A6,18256C20-BAC8-4F57-A03C-2C7152CE1813,2011,NaN,0.0,0.000,NaN,NaN,NaN,NaN,NaN,Family Practice,6D105E1E-EACC-478E-9454-FBED1F50F888

In [9]:
df_orig.head()

,PatientGuid,DMIndicator,Gender,YearOfBirth,State,PracticeGuid
0,FB6EFC3D-1A20-4497-9CBD-00027CC5D220,0.0,M,1929.0,SD,7BF4DAD8-5F67-4985-B911-20C9E89A3737
1,C6746626-6783-4650-A58F-00065649139A,0.0,F,1985.0,TX,E7101967-2FF1-4B0F-8129-B0B429D1D15C
2,E05C6E8F-779F-4594-A388-000C635AE4D3,0.0,F,1984.0,NJ,FC01A799-1CAF-464F-A86F-8A666AB86F32
3,EAEBD216-F847-4355-87B2-000D942E08F0,0.0,M,1959.0,OH,EEBC95EF-79BE-4542-892E-98D3166BAB20
4,C7F10A80-4934-42D2-8540-000FBEBA75C8,0.0,F,1990.0,FL,677BA32E-B4C4-48F2-86E4-08C42B135401

In [10]:
df_smoke.head()

,PatientSmokingStatusGuid,PatientGuid,SmokingStatusGuid,EffectiveYear
0,98D65810-96E1-4AF2-986E-001AB3FA8F07,418B3B82-D178-47D3-A6D4-B9F92A37D7DC,FCD437AA-0451-4D8A-9396-B6F19D8B25E8,2011
1,AF76A721-2A12-4C30-A600-0020DC77DEE1,53183B47-C9F6-46D4-ACD1-D2B44B6263B0,DD01E545-D7AF-4F00-B248-9FD40010D81D,2011
2,D2C7E57A-5CBC-4BB3-91BF-00249D55AFBA,4E01E2C2-387D-485E-8AFA-312AAB7B5026,1F3BFBBF-AB76-481B-B1E0-08A3689A54BC,2011
3,D230ED80-6318-4E48-A374-002928252CBA,B732CBF8-E855-4CA3-9548-7C0A1660CC52,5ABBAB35-836F-4F3E-8632-CE063828DA15,2012
4,6ED5ABA8-7D47-49F8-8857-00321749C4D2,4AE52DF5-AB5B-4272-AF6C-789EFE0B58B3,5ABBAB35-836F-4F3E-8632-CE063828DA15,2011

In [11]:
df_train.shape

(6600, 6)

In [12]:
df_trans.shape

(131031, 13)

In [13]:
train = pd.merge(df_train, df_trans, on='PatientGuid',how = 'left')
train.shape

(87125, 18)

### Get Dummies

In [14]:
def get_dummy(df, col):
    df = pd.concat([df, pd.get_dummies(df[col], drop_first=True)], axis=1)
    df.drop(columns=col,inplace = True)
    return df

In [15]:
train = get_dummy(train,['Gender'])

In [16]:
train = train.groupby(['PatientGuid']).first()
train= train[cols]
train.shape

(6600, 10)

In [17]:
train.isna().sum()

DMIndicator           0
YearOfBirth           0
Height                0
Weight                0
BMI                   0
DiastolicBP           1
SystolicBP            1
RespiratoryRate    1911
Temperature        1617
Gender_M              0
dtype: int64

In [18]:
train.describe()

,DMIndicator,YearOfBirth,Height,Weight,BMI,DiastolicBP,SystolicBP,RespiratoryRate,Temperature,Gender_M
count,6600.000000,6600.000000,6600.000000,6600.000000,6600.000000,6599.000000,6599.000000,4689.000000,4983.000000,6600.000000
mean,0.191818,1957.545909,65.872167,118.774143,18.914773,76.826337,126.368541,16.663681,97.766514,0.433788
std,0.393761,17.509446,5.161526,93.243435,124.259454,11.105265,17.568640,3.606753,1.909739,0.495634
min,0.000000,1922.000000,5.000000,0.000000,0.000000,1.000000,10.000000,1.000000,37.600000,0.000000
25%,0.000000,1944.000000,63.000000,0.000000,0.000000,70.000000,115.000000,16.000000,97.400000,0.000000
50%,0.000000,1957.000000,66.000000,146.500000,21.214000,78.000000,125.000000,16.000000,98.000000,0.000000
75%,0.000000,1971.000000,69.000000,192.000000,28.908250,83.000000,136.000000,18.000000,98.400000,1.000000
max,1.000000,1994.000000,112.000000,423.288000,5811.034000,142.000000,220.000000,80.000000,106.000000,1.000000

In [19]:
train.head()

,DMIndicator,YearOfBirth,Height,Weight,BMI,DiastolicBP,SystolicBP,RespiratoryRate,Temperature,Gender_M
PatientGuid,,,,,,,,,,
00023761-9D8D-445B-874C-2424CC7CF620,0,1956,68.0,182.0,27.670,76.0,122.0,16.0,97.2,1
0005D9BD-0247-4F02-B7EE-7C1B44825FA1,0,1952,65.0,0.0,0.000,75.0,135.0,15.0,98.3,0
00110ABC-DAB9-49E3-A1C8-88BBF8D58109,0,1970,71.0,0.0,0.000,80.0,130.0,12.0,NaN,1
002667F4-B9A3-4DE2-875F-8034DD637865,0,1928,59.0,109.0,22.013,90.0,160.0,20.0,NaN,0
0029BBC8-7C22-4444-9F44-87BEF05FE033,0,1953,68.0,0.0,0.000,93.0,142.0,NaN,98.7,0

### Transform Zeros to Null

In [47]:
train[['Weight']] = train[['Weight']].replace(0, np.nan)
df_temp = train.drop(columns = 'BMI')

In [48]:
df_temp.head()

,DMIndicator,YearOfBirth,Height,Weight,DiastolicBP,SystolicBP,RespiratoryRate,Temperature,Gender_M
PatientGuid,,,,,,,,,
00023761-9D8D-445B-874C-2424CC7CF620,0,1956,68.0,182.00,76.0,122.0,16.0,97.20,1
0005D9BD-0247-4F02-B7EE-7C1B44825FA1,0,1952,65.0,200.60,75.0,135.0,15.0,98.30,0
00110ABC-DAB9-49E3-A1C8-88BBF8D58109,0,1970,71.0,228.72,80.0,130.0,12.0,98.18,1
002667F4-B9A3-4DE2-875F-8034DD637865,0,1928,59.0,109.00,90.0,160.0,20.0,97.36,0
0029BBC8-7C22-4444-9F44-87BEF05FE033,0,1953,68.0,208.00,93.0,142.0,15.2,98.70,0

### Impute Null Values

In [51]:
def impute_null(df):
    from sklearn.impute import KNNImputer
    import numpy as np

    # Create an instance of the KNNImputer class
    imputer = KNNImputer(n_neighbors=5)

    # Fit the imputer to the dataset
    imputer.fit(df)

    # Use the imputer to transform the dataset and replace missing values with imputed values
    output_array = imputer.transform(df)
    return output_array

In [52]:
output_array = impute_null(df_temp)
output_array

array([[0.000e+00, 1.956e+03, 6.800e+01, ..., 1.600e+01, 9.720e+01,
        1.000e+00],
       [0.000e+00, 1.952e+03, 6.500e+01, ..., 1.500e+01, 9.830e+01,
        0.000e+00],
       [0.000e+00, 1.970e+03, 7.100e+01, ..., 1.200e+01, 9.818e+01,
        1.000e+00],
       ...,
       [0.000e+00, 1.965e+03, 6.000e+01, ..., 1.560e+01, 9.670e+01,
        0.000e+00],
       [1.000e+00, 1.930e+03, 7.100e+01, ..., 1.560e+01, 9.850e+01,
        1.000e+00],
       [0.000e+00, 1.947e+03, 6.700e+01, ..., 1.440e+01, 9.820e+01,
        0.000e+00]])

### Insert Impute Values into Dataframe

In [53]:
train['Weight'] = output_array[:, 3]
train['RespiratoryRate']=output_array[:, -3]
train['Temperature'] = output_array[:, -2]

In [55]:
train.head()

,DMIndicator,YearOfBirth,Height,Weight,BMI,DiastolicBP,SystolicBP,RespiratoryRate,Temperature,Gender_M
PatientGuid,,,,,,,,,,
00023761-9D8D-445B-874C-2424CC7CF620,0,1956,68.0,182.00,27.669983,76.0,122.0,16.0,97.20,1
0005D9BD-0247-4F02-B7EE-7C1B44825FA1,0,1952,65.0,200.60,33.377941,75.0,135.0,15.0,98.30,0
00110ABC-DAB9-49E3-A1C8-88BBF8D58109,0,1970,71.0,228.72,31.896481,80.0,130.0,12.0,98.18,1
002667F4-B9A3-4DE2-875F-8034DD637865,0,1928,59.0,109.00,22.012927,90.0,160.0,20.0,97.36,0
0029BBC8-7C22-4444-9F44-87BEF05FE033,0,1953,68.0,208.00,31.622837,93.0,142.0,15.2,98.70,0

### Calculate BMI

In [56]:
train['BMI'] = train['Weight'] / (train['Height'] ** 2) * 703

In [57]:
train.head()

,DMIndicator,YearOfBirth,Height,Weight,BMI,DiastolicBP,SystolicBP,RespiratoryRate,Temperature,Gender_M
PatientGuid,,,,,,,,,,
00023761-9D8D-445B-874C-2424CC7CF620,0,1956,68.0,182.00,27.669983,76.0,122.0,16.0,97.20,1
0005D9BD-0247-4F02-B7EE-7C1B44825FA1,0,1952,65.0,200.60,33.377941,75.0,135.0,15.0,98.30,0
00110ABC-DAB9-49E3-A1C8-88BBF8D58109,0,1970,71.0,228.72,31.896481,80.0,130.0,12.0,98.18,1
002667F4-B9A3-4DE2-875F-8034DD637865,0,1928,59.0,109.00,22.012927,90.0,160.0,20.0,97.36,0
0029BBC8-7C22-4444-9F44-87BEF05FE033,0,1953,68.0,208.00,31.622837,93.0,142.0,15.2,98.70,0

### Output Dataframe

In [58]:
train.to_csv('train.csv',index=True)

## Modify Test dataset

In [64]:
test = pd.merge(df_test, df_trans, on='PatientGuid',how = 'left')
test.shape

(43906, 17)

In [65]:
test.head()

,PatientGuid,Gender,YearOfBirth,State,PracticeGuid,TranscriptGuid,VisitYear,Height,Weight,BMI,SystolicBP,DiastolicBP,RespiratoryRate,HeartRate,Temperature,PhysicianSpecialty,UserGuid
0,027AC271-0852-4DDD-99C2-A74FE50066E0,F,1978,CA,4D27688B-C925-4513-9CF9-8D281ACC6712,4651AAC2-5F60-4371-B80B-0D6B6BD726B8,2009,61.0,199.0,37.597,122.0,85.0,22.0,NaN,97.4,Family Practice,7511BCEC-9E46-4808-99A7-5B30778B6E84
1,027AC271-0852-4DDD-99C2-A74FE50066E0,F,1978,CA,4D27688B-C925-4513-9CF9-8D281ACC6712,A50D3115-CEC5-4D7A-82C0-1CE1C60513C4,2011,NaN,184.0,0.000,110.0,79.0,NaN,NaN,97.6,Family Practice,1A0FB58A-2A83-4670-A5FD-BD07853FB185
2,027AC271-0852-4DDD-99C2-A74FE50066E0,F,1978,CA,4D27688B-C925-4513-9CF9-8D281ACC6712,29E712D2-2818-473A-8F1F-351E5AE20C79,2011,NaN,0.0,0.000,107.0,87.0,NaN,NaN,97.0,Family Practice,1A0FB58A-2A83-4670-A5FD-BD07853FB185
3,027AC271-0852-4DDD-99C2-A74FE50066E0,F,1978,CA,4D27688B-C925-4513-9CF9-8D281ACC6712,59B8C8EF-64F5-4CFD-BE40-4176A83588B0,2011,NaN,0.0,0.000,NaN,NaN,NaN,NaN,NaN,General Practice,0DCD35A6-40A6-4ADC-A070-67D4FC732400
4,027AC271-0852-4DDD-99C2-A74FE50066E0,F,1978,CA,4D27688B-C925-4513-9CF9-8D281ACC6712,5107C9B0-38DE-40B7-83D8-44066EA89F24,2010,NaN,0.0,0.000,120.0,70.0,NaN,NaN,97.2,Internal Medicine,494064F2-3044-4AD4-9696-08281999782D

In [66]:
test = test.groupby(['PatientGuid']).first()
test.shape

(3348, 16)

In [67]:
test.head()

,Gender,YearOfBirth,State,PracticeGuid,TranscriptGuid,VisitYear,Height,Weight,BMI,SystolicBP,DiastolicBP,RespiratoryRate,HeartRate,Temperature,PhysicianSpecialty,UserGuid
PatientGuid,,,,,,,,,,,,,,,,
000B4862-7CE7-4EC5-8043-A97FCD74BD78,F,1925,PA,4DB42FF1-E75E-4A24-9300-24212645B5CB,582D3C53-0B68-4B68-96FA-0D5664D32392,2012,65.0,100.0,16.639,100.0,60.0,18.0,NaN,NaN,General Practice,EE1410C4-FF22-4BE3-9585-45E354C90341
003CEE1F-5BF5-4171-9284-F5464EC12D41,F,1926,CA,DE9D78DA-262C-4823-98A3-6B361F075F12,001B46EB-C782-4771-B4C5-06F1FF2BEF92,2012,61.0,106.0,20.026,130.0,82.0,12.0,NaN,NaN,Geriatric Medicine,59C4FFE1-DA98-47BD-8665-9F304765F855
004382BD-E31F-4091-8DE5-E86A59D70C2D,F,1961,MO,4E93EE5B-964F-48D6-8AC9-4777409B0433,617431A7-9A2D-4AE8-BC8E-662D64055FAD,2010,63.0,234.0,41.447,148.0,80.0,NaN,NaN,NaN,Family Practice,107BDE89-1C5F-44DF-A60D-B9F868D2DE3B
004EA6A7-6159-4D70-B06A-C0391D8623BD,F,1984,SD,7BF4DAD8-5F67-4985-B911-20C9E89A3737,418BA9D1-70F9-4F37-9578-3F512CAC5346,2010,67.0,142.0,22.238,108.0,72.0,NaN,NaN,98.3,Family Practice,7CA1DC13-E602-4296-805F-A64DC8950C5A
0063B34F-C2C4-423A-A144-E51F7149253A,F,1968,LA,A010E5EA-C2A9-45C1-9FF9-9C2D4B8B69AB,C5ECF8DD-55AA-4E94-B4E9-222897772FC7,2010,68.0,240.0,36.488,106.0,76.0,18.0,NaN,96.7,Family Practice,E2197EA0-9FB6-4125-876A-8D4FE6E496C3

In [68]:
test.describe()

,YearOfBirth,VisitYear,Height,Weight,BMI,SystolicBP,DiastolicBP,RespiratoryRate,HeartRate,Temperature
count,3348.000000,3348.000000,3348.000000,3348.000000,3348.000000,3348.000000,3348.000000,2383.000000,0.0,2516.000000
mean,1957.100657,1981.005376,65.813173,118.037139,15.708009,126.451314,76.792413,16.603861,NaN,97.741709
std,17.462094,241.468418,4.370280,93.209581,15.882826,17.323449,10.773724,2.962546,NaN,1.740691
min,1922.000000,0.000000,24.213000,0.000000,0.000000,78.000000,20.000000,8.000000,NaN,72.000000
25%,1944.000000,2010.000000,63.000000,0.000000,0.000000,115.000000,70.000000,16.000000,NaN,97.400000
50%,1957.000000,2010.000000,65.500000,146.000000,20.900000,125.000000,78.000000,16.000000,NaN,97.950000
75%,1970.000000,2011.000000,69.000000,190.000000,28.974250,137.000000,83.000000,18.000000,NaN,98.400000
max,1994.000000,2012.000000,100.000000,761.000000,250.863000,218.000000,127.000000,48.000000,NaN,102.900000

In [69]:
test.isna().sum()

Gender                   0
YearOfBirth              0
State                    0
PracticeGuid             0
TranscriptGuid           0
VisitYear                0
Height                   0
Weight                   0
BMI                      0
SystolicBP               0
DiastolicBP              0
RespiratoryRate        965
HeartRate             3348
Temperature            832
PhysicianSpecialty       0
UserGuid                 0
dtype: int64

In [70]:
test= get_dummy(test,['Gender'])
test.head()

,YearOfBirth,State,PracticeGuid,TranscriptGuid,VisitYear,Height,Weight,BMI,SystolicBP,DiastolicBP,RespiratoryRate,HeartRate,Temperature,PhysicianSpecialty,UserGuid,Gender_M
PatientGuid,,,,,,,,,,,,,,,,
000B4862-7CE7-4EC5-8043-A97FCD74BD78,1925,PA,4DB42FF1-E75E-4A24-9300-24212645B5CB,582D3C53-0B68-4B68-96FA-0D5664D32392,2012,65.0,100.0,16.639,100.0,60.0,18.0,NaN,NaN,General Practice,EE1410C4-FF22-4BE3-9585-45E354C90341,0
003CEE1F-5BF5-4171-9284-F5464EC12D41,1926,CA,DE9D78DA-262C-4823-98A3-6B361F075F12,001B46EB-C782-4771-B4C5-06F1FF2BEF92,2012,61.0,106.0,20.026,130.0,82.0,12.0,NaN,NaN,Geriatric Medicine,59C4FFE1-DA98-47BD-8665-9F304765F855,0
004382BD-E31F-4091-8DE5-E86A59D70C2D,1961,MO,4E93EE5B-964F-48D6-8AC9-4777409B0433,617431A7-9A2D-4AE8-BC8E-662D64055FAD,2010,63.0,234.0,41.447,148.0,80.0,NaN,NaN,NaN,Family Practice,107BDE89-1C5F-44DF-A60D-B9F868D2DE3B,0
004EA6A7-6159-4D70-B06A-C0391D8623BD,1984,SD,7BF4DAD8-5F67-4985-B911-20C9E89A3737,418BA9D1-70F9-4F37-9578-3F512CAC5346,2010,67.0,142.0,22.238,108.0,72.0,NaN,NaN,98.3,Family Practice,7CA1DC13-E602-4296-805F-A64DC8950C5A,0
0063B34F-C2C4-423A-A144-E51F7149253A,1968,LA,A010E5EA-C2A9-45C1-9FF9-9C2D4B8B69AB,C5ECF8DD-55AA-4E94-B4E9-222897772FC7,2010,68.0,240.0,36.488,106.0,76.0,18.0,NaN,96.7,Family Practice,E2197EA0-9FB6-4125-876A-8D4FE6E496C3,0

In [71]:
cols2 = ['YearOfBirth', 'Height', 'Weight','BMI','DiastolicBP', 'SystolicBP','RespiratoryRate','Temperature','Gender_M']

In [72]:
df_test = test[cols2]

In [73]:
df_test.head()

,YearOfBirth,Height,Weight,BMI,DiastolicBP,SystolicBP,RespiratoryRate,Temperature,Gender_M
PatientGuid,,,,,,,,,
000B4862-7CE7-4EC5-8043-A97FCD74BD78,1925,65.0,100.0,16.639,60.0,100.0,18.0,NaN,0
003CEE1F-5BF5-4171-9284-F5464EC12D41,1926,61.0,106.0,20.026,82.0,130.0,12.0,NaN,0
004382BD-E31F-4091-8DE5-E86A59D70C2D,1961,63.0,234.0,41.447,80.0,148.0,NaN,NaN,0
004EA6A7-6159-4D70-B06A-C0391D8623BD,1984,67.0,142.0,22.238,72.0,108.0,NaN,98.3,0
0063B34F-C2C4-423A-A144-E51F7149253A,1968,68.0,240.0,36.488,76.0,106.0,18.0,96.7,0

In [74]:
df_test.describe()

,YearOfBirth,Height,Weight,BMI,DiastolicBP,SystolicBP,RespiratoryRate,Temperature,Gender_M
count,3348.000000,3348.000000,3348.000000,3348.000000,3348.000000,3348.000000,2383.000000,2516.000000,3348.000000
mean,1957.100657,65.813173,118.037139,15.708009,76.792413,126.451314,16.603861,97.741709,0.412186
std,17.462094,4.370280,93.209581,15.882826,10.773724,17.323449,2.962546,1.740691,0.492302
min,1922.000000,24.213000,0.000000,0.000000,20.000000,78.000000,8.000000,72.000000,0.000000
25%,1944.000000,63.000000,0.000000,0.000000,70.000000,115.000000,16.000000,97.400000,0.000000
50%,1957.000000,65.500000,146.000000,20.900000,78.000000,125.000000,16.000000,97.950000,0.000000
75%,1970.000000,69.000000,190.000000,28.974250,83.000000,137.000000,18.000000,98.400000,1.000000
max,1994.000000,100.000000,761.000000,250.863000,127.000000,218.000000,48.000000,102.900000,1.000000

In [75]:
df_test.isna().sum()

YearOfBirth          0
Height               0
Weight               0
BMI                  0
DiastolicBP          0
SystolicBP           0
RespiratoryRate    965
Temperature        832
Gender_M             0
dtype: int64

### Transform Zeros to Null

In [76]:
df_test.loc[:, 'Weight'] = df_test['Weight'].replace(0, np.nan)

<ipython-input-76-0e1653ce666d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test.loc[:, 'Weight'] = df_test['Weight'].replace(0, np.nan)

### Impute null values

In [77]:
df_temp2 = df_test.drop(columns = 'BMI')

In [78]:
output_array2 = impute_null(df_temp2)
output_array2

array([[1.9250e+03, 6.5000e+01, 1.0000e+02, ..., 1.8000e+01, 9.7932e+01,
        0.0000e+00],
       [1.9260e+03, 6.1000e+01, 1.0600e+02, ..., 1.2000e+01, 9.6308e+01,
        0.0000e+00],
       [1.9610e+03, 6.3000e+01, 2.3400e+02, ..., 1.8200e+01, 9.7960e+01,
        0.0000e+00],
       ...,
       [1.9470e+03, 7.4000e+01, 2.2180e+02, ..., 1.6000e+01, 9.8260e+01,
        1.0000e+00],
       [1.9400e+03, 7.2000e+01, 2.1600e+02, ..., 1.8000e+01, 9.7900e+01,
        1.0000e+00],
       [1.9840e+03, 6.2000e+01, 1.4572e+02, ..., 1.6000e+01, 9.7700e+01,
        0.0000e+00]])

In [79]:
df_test['Weight'] = output_array2[:, 2]
df_test['RespiratoryRate']=output_array2[:, -3]
df_test['Temperature'] = output_array2[:, -2]

<ipython-input-79-9e1c7c81c0d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Weight'] = output_array2[:, 2]
<ipython-input-79-9e1c7c81c0d6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['RespiratoryRate']=output_array2[:, -3]
<ipython-input-79-9e1c7c81c0d6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Temperature'] = output_array2[:, -2]

### Calculate BMI

In [80]:
df_test['BMI'] = df_test['Weight'] / (df_test['Height'] ** 2) * 703

<ipython-input-80-f5a220d926d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['BMI'] = df_test['Weight'] / (df_test['Height'] ** 2) * 703

In [81]:
df_test.head()

,YearOfBirth,Height,Weight,BMI,DiastolicBP,SystolicBP,RespiratoryRate,Temperature,Gender_M
PatientGuid,,,,,,,,,
000B4862-7CE7-4EC5-8043-A97FCD74BD78,1925,65.0,100.0,16.639053,60.0,100.0,18.0,97.932,0
003CEE1F-5BF5-4171-9284-F5464EC12D41,1926,61.0,106.0,20.026337,82.0,130.0,12.0,96.308,0
004382BD-E31F-4091-8DE5-E86A59D70C2D,1961,63.0,234.0,41.446712,80.0,148.0,18.2,97.960,0
004EA6A7-6159-4D70-B06A-C0391D8623BD,1984,67.0,142.0,22.237915,72.0,108.0,14.6,98.300,0
0063B34F-C2C4-423A-A144-E51F7149253A,1968,68.0,240.0,36.487889,76.0,106.0,18.0,96.700,0

In [82]:
df_test.to_csv('test.csv',index = True)